/* Importa la fuente Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Estilos globales */
body, html {
  font-family: 'Montserrat', sans-serif; /* Utiliza la fuente Montserrat como predeterminada */
  background-image: url('/images/manta.jpg'); /* Establece una imagen de fondo */
  margin: 0; /* Elimina los márgenes predeterminados del cuerpo y la página */
  padding: 0; /* Elimina el relleno predeterminado del cuerpo y la página */
  height: 100%; /* Establece la altura al 100% de la ventana del navegador */
}

.fondo {
  background-image: url('/images/manta.jpg'); /* Establece la imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Coloca el fondo detrás de otros elementos */
}

/* Estilos del encabezado */
header {
  background-color: rgb(63, 58, 53); /* Establece el color de fondo del encabezado */
  color: #fff; /* Establece el color del texto en blanco */
  display: flex; /* Utiliza un modelo de caja flexible para el encabezado */
  justify-content: space-between; /* Distribuye el contenido horizontalmente */
  align-items: center; /* Centra verticalmente el contenido */
  padding: 10px 20px; /* Agrega relleno al encabezado */
  text-align: center; /* Centra horizontalmente el contenido del encabezado */
}

/* Estilos del logo */
.logo {
  width: 150px; /* Ancho fijo para el contenedor del logotipo */
  height: 50px; /* Altura fija para el contenedor del logotipo */
  overflow: hidden; /* Recorta cualquier contenido que desborde el contenedor */
  display: flex; /* Utiliza un modelo de caja flexible para el logotipo */
  align-items: center; /* Centra verticalmente el logotipo */
}

.logo img {
  max-width: 32%; /* El logotipo se ajustará al ancho del contenedor */
  height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
}

.uleam-text {
  font-size: 24px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  color: rgb(255, 255, 255); /* Color del texto en blanco */
  text-transform: uppercase; /* Convierte el texto en mayúsculas */
  letter-spacing: 2px; /* Espaciado entre caracteres */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}

/* Estilos para los botones */
.btn {
  display: inline-block; /* Muestra los botones en línea */
  font-family: sans-serif; /* Utiliza una fuente sans-serif */
  font-weight: 600; /* Peso de la fuente */
  font-size: 16px; /* Tamaño de fuente */
  color: #fff; /* Color del texto en blanco */
  margin: 1rem auto; /* Márgenes exteriores */
  padding: 0.7rem 2rem; /* Relleno interior */
  border-radius: 30em; /* Bordes redondeados */
  border-style: none; /* Sin bordes */
  position: relative; /* Posición relativa */
  z-index: 1; /* Capa z */
  overflow: hidden; /* Oculta el desbordamiento */
  text-decoration: none; /* Sin subrayado de texto */
  text-transform: uppercase; /* Convierte el texto en mayúsculas */
  letter-spacing: 2px; /* Espaciado entre caracteres */
  background-color: transparent; /* Fondo transparente */
  box-shadow: 1px 1px 12px #000000; /* Sombra */
}

.btn::before {
  content: ""; /* Agrega un pseudo-elemento antes del contenido */
  width: 100%;
  height: 100%;
  position: absolute; /* Posición absoluta */
  top: 0;
  left: 0;
  background-color: #fff; /* Color de fondo blanco */
  transform: translateX(-101%); /* Desplaza el fondo fuera del botón */
  transition: all .3s ease; /* Transición al hacer hover */
  z-index: -1; /* Coloca el fondo detrás del botón */
}

.btn:hover {
  color: #272727; /* Cambia el color del texto al hacer hover */
  transition: all .3s ease; /* Transición al hacer hover */
}

.btn:hover::before {
  transform: translateX(0); /* Desplaza el fondo hacia el botón al hacer hover */
}

/* Estilos para las tablas de administrador */
.contenedor-tabla {
  display: flex; /* Utiliza un modelo de caja flexible para el contenedor de la tabla */
  margin: 0 auto; /* Centra horizontalmente el contenedor */
  flex-direction: column; /* Dirección del flujo vertical */
  justify-content: center; /* Centra verticalmente el contenido */
  align-items: center; /* Centra horizontalmente el contenido */
  border: 1px solid #ccc; /* Borde de 1 píxel sólido */
  padding: 90px; /* Relleno interno */
  border-radius: 20px; /* Bordes redondeados */
  margin-bottom: 50px; /* Margen inferior */
  margin-top: 20px; /* Margen superior */
  width: 100%; /* Ancho completo */
  max-width: 900px; /* Ancho máximo */
  background-color: rgba(255, 255, 255, 0.7); /* Color de fondo con opacidad */
  box-shadow: 0 0 20px rgba(70, 70, 70, 0.5); /* Sombra */
}

/* Estilos para las tablas de estudiantes y habitaciones */
.tabla-estudiantes,
.tabla-habitaciones {
  border-collapse: collapse; /* Colapsa los bordes de la tabla */
  width: 100%; /* Ancho completo */
  max-width: 800px; /* Ancho máximo */
  margin: 0 auto; /* Centra horizontalmente la tabla */
  border: 1px solid #ddd; /* Borde de 1 píxel sólido */
  text-align: left; /* Alineación del texto a la izquierda */
}

.tabla-estudiantes th,
.tabla-estudiantes td,
.tabla-habitaciones th,
.tabla-habitaciones td {
  padding: 10px; /* Relleno interno de celdas */
  border: 1px solid #302e2e; /* Borde de 1 píxel sólido */
}

.tabla-estudiantes th,
.tabla-habitaciones th {
  background-color: #5e5e5e; /* Color de fondo para encabezados */
  color: white; /* Color del texto en blanco */
  font-weight: bold; /* Peso de la fuente */
}

.tabla-estudiantes tr:nth-child(even),
.tabla-habitaciones tr:nth-child(even) {
  background-color: #f0f0f0; /* Color de fondo para filas pares */
}

.tabla-estudiantes tr:nth-child(odd),
.tabla-habitaciones tr:nth-child(odd) {
  background-color: #ffffff; /* Color de fondo para filas impares */
}

.tabla-estudiantes th,
.tabla-estudiantes td,
.tabla-habitaciones th,
.tabla-habitaciones td {
  text-align: left; /* Alineación del texto a la izquierda */
}

/* Estilos para el título de la sección de gestión */
.gestion-title {
  color: rgb(255, 255, 255); /* Cambia el color del título a blanco */
}

/* Estilos para el pie de página */
.footer {
  text-align: center; /* Centra el texto en el pie de página */
  padding: 10px; /* Agrega relleno al pie de página */
  position: fixed; /* Posición fija en la parte inferior de la ventana del navegador */
  bottom: 0; /* Coloca el pie de página en la parte inferior */
  width: 100%; /* Ancho completo */
  background-color: rgb(63, 58, 53); /* Color de fondo */
  box-shadow: 0 0 20px rgba(95, 95, 95, 0.5); /* Sombra del pie de página */
}

  
  
  