/* Importa la fuente Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Estilos generales */
body, html {
    font-family: 'Montserrat', sans-serif; /* Utiliza la fuente Montserrat como predeterminada */
    margin: 0; /* Elimina márgenes predeterminados del cuerpo y la página */
    padding: 0; /* Elimina relleno predeterminado del cuerpo y la página */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    height: 100%; /* Establece la altura al 100% de la ventana del navegador */
}

/* Estilos del encabezado */
header {
    background-color: rgb(63, 58, 53); /* Establece el color de fondo del encabezado */
    color: #fff; /* Establece el color del texto en blanco */
    display: flex; /* Utiliza un modelo de caja flexible para el encabezado */
    justify-content: space-between; /* Distribuye el contenido horizontalmente */
    align-items: center; /* Centra verticalmente el contenido */
    padding: 10px 20px; /* Agrega relleno al encabezado */
    text-align: center; /* Centra horizontalmente el contenido del encabezado */
}

/* Estilos del fondo */
.fondo {
    background-image: url('/images/manta.jpg'); /* Establece la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca el fondo detrás de otros elementos */
}

/* Estilos del logo */
.logo {
    width: 150px; /* Ancho fijo para el contenedor del logotipo */
    height: 50px; /* Altura fija para el contenedor del logotipo */
    overflow: hidden; /* Recorta cualquier contenido que desborde el contenedor */
    display: flex; /* Utiliza un modelo de caja flexible para el logotipo */
    align-items: center; /* Centra verticalmente el logotipo */
}

.logo img {
    max-width: 32%; /* El logotipo se ajustará al ancho del contenedor */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
}

.uleam-text {
    font-size: 24px; /* Tamaño de fuente */
    font-weight: bold; /* Peso de la fuente */
    color: rgb(255, 255, 255); /* Color del texto en blanco */
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre caracteres */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}

/* Estilos para el botón */
.btn {
    display: inline-block; /* Hace que el botón se comporte como un elemento en línea */
    font-family: sans-serif; /* Tipo de fuente */
    font-weight: 600; /* Peso de la fuente */
    font-size: 16px; /* Tamaño de fuente */
    color: #fff; /* Color del texto en blanco */
    margin: 1rem auto; /* Márgenes superior e inferior automáticos y lateral central */
    padding: 0.7rem 2rem; /* Relleno del botón */
    border-radius: 30em; /* Bordes redondeados para hacer un botón circular */
    border-style: none; /* Sin borde */
    position: relative; /* Posición relativa para superponer elementos */
    z-index: 1; /* Capa z para la superposición */
    overflow: hidden; /* Oculta el contenido que desborde el botón */
    text-decoration: none; /* Elimina el subrayado de enlaces */
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre caracteres */
    background-color: transparent; /* Fondo transparente */
    box-shadow: 1px 1px 12px #000000; /* Agrega una sombra al botón */
}

.btn::before {
    content: ""; /* Elemento pseudo antes del botón */
    width: 100%;
    height: 100%;
    position: absolute; /* Posición absoluta para superponer al botón */
    top: 0;
    left: 0;
    background-color: #fff; /* Color de fondo */
    transform: translateX(-101%); /* Mueve el fondo hacia la izquierda */
    transition: all .3s ease; /* Transición para animar la superposición */
    z-index: -1; /* Capa z detrás del botón */
}

.btn:hover {
    color: #272727; /* Cambia el color del texto al hacer hover */
    transition: all .3s ease; /* Transición al hacer hover */
}

.btn:hover::before {
    transform: translateX(0); /* Mueve el fondo a la posición original al hacer hover */
}

/* Estilos de la sección de gestión */
.gestion {
    display: flex; /* Utiliza un modelo de caja flexible para la sección de gestión */
    flex-direction: column; /* Cambia la dirección del flujo a vertical */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
}

.gestion h1 {
    color: rgb(255, 255, 255); /* Cambia el color del título a blanco */
}

/* Estilos del contenedor de habitaciones */
.habitaciones-contenedor {
    margin-top: 10px; /* Margen superior */
    margin-bottom: 20px; /* Margen inferior */
}

.habitaciones-contenedor h1 {
    font-size: 2rem; /* Tamaño de fuente */
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 20px; /* Margen inferior */
}

/* Estilos de la cuadrícula de habitaciones */
.habitaciones-cuadricula {
    display: grid; /* Utiliza una cuadrícula para las habitaciones */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    grid-gap: 10px; /* Espacio entre las celdas de la cuadrícula */
}

/* Estilos de las habitaciones individuales */
.room {
    background-color: rgba(165, 165, 165, 0.7); /* Color de fondo con opacidad */
    box-shadow: 0 8px 20px rgba(70, 70, 70, 0.5); /* Sombra */
    border: 1px solid #000000; /* Borde sólido */
    border-radius: 4px; /* Bordes redondeados */
    padding: 0.5rem; /* Relleno interno */
    text-align: center; /* Centra el contenido */
    transition: transform 0.3s ease; /* Transición para animar el efecto hover */
    cursor: pointer; /* Cambia el cursor al hacer hover */
    font-size: 0.9rem; /* Tamaño de fuente reducido */
}

.room:hover {
    transform: translate(0, -5px); /* Mueve la habitación hacia arriba al hacer hover */
}

.room h2 {
    font-size: 1.5rem; /* Tamaño de fuente */
    margin-top: 0; /* Elimina el margen superior del título */
}

.room p {
    margin-bottom: 0.5rem; /* Espacio adicional en la parte inferior del párrafo */
}

.room ul {
    list-style: none; /* Elimina la viñeta de la lista */
    margin: 0; /* Elimina el margen de la lista */
    padding: 0; /* Elimina el relleno de la lista */
}

.room li {
    margin-bottom: 0.25rem; /* Espacio adicional entre elementos de la lista */
}

/* Estilos de la imagen completa */
.imagen-completa {
    display: none; /* Oculta el elemento inicialmente */
    position: fixed; /* Posición fija en la ventana del navegador */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
    text-align: center; /* Centra horizontalmente el contenido */
    z-index: 9999; /* Capa z alta para superposición */
    display: flex; /* Utiliza un modelo de caja flexible para el contenido */
    flex-direction: column; /* Dirección del flujo vertical */
    justify-content: flex-start; /* Alinea la imagen en la parte superior */
    align-items: center; /* Centra verticalmente el contenido */
    transition: height 0.3s ease; /* Agrega una transición para animar la apertura/cierre */
}

.imagen-completa img {
    max-width: 80%; /* Ancho máximo de la imagen al 80% del contenedor */
    max-height: 80%; /* Altura máxima de la imagen al 80% del contenedor */
    margin-top: 50px; /* Margen superior para separar la imagen del borde superior */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); /* Sombra de la imagen */
}

.overflow-hidden {
    overflow: hidden; /* Oculta el desbordamiento del contenido */
}

/* Estilo para cerrar la imagen completa */
.cerrar {
    position: absolute; /* Posición absoluta para el botón de cierre */
    top: 15px; /* Posición desde arriba */
    right: 15px; /* Posición desde la derecha */
    color: #fff; /* Color del icono de cierre en blanco */
    font-size: 30px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al hacer clic en el botón de cierre */
}

/* Estilos del título de la sección de gestión */
.gestion-title {
    color: rgb(255, 255, 255); /* Cambia el color del título a blanco */
}

/* Estilos del pie de página */
.footer {
    text-align: center; /* Centra el texto en el pie de página */
    padding: 10px; /* Agrega relleno al pie de página */
    position: fixed; /* Posición fija en la parte inferior de la ventana del navegador */
    bottom: 0; /* Coloca el pie de página en la parte inferior */
    width: 100%; /* Ancho completo */
    background-color: rgb(63, 58, 53); /* Color de fondo */
    box-shadow: 0 0 20px rgba(95, 95, 95, 0.5); /* Sombra del pie de página */
}

  
  
  