@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el cuerpo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
}

/* Estilos del encabezado */
header {
    background-color: rgb(63, 58, 53);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    text-align: center; /* Centra horizontalmente el contenido */
}

/* Estilos del logo */
.logo {
    width: 150px; /* Ancho fijo para el contenedor del logotipo */
    height: 50px; /* Altura fija para el contenedor del logotipo */
    overflow: hidden; /* Recorta cualquier contenido que desborde el contenedor */
    display: flex;
    align-items: center; /* Centra verticalmente el logotipo */
}

.logo img {
    max-width: 32%; /* El logotipo se ajustará al ancho del contenedor */
    height: auto;
}

.uleam-text {
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0 auto; /* Centra horizontalmente el contenido */
}



/* Estilos de los botones de autenticación */

.login, .register {
    display: inline-block;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    margin: 1rem auto;
    padding: 0.7rem 2rem;
    border-radius: 30em;
    border-style: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: transparent;
    box-shadow: 1px 1px 12px #000000;
  }
  
.login::before, .register::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: translateX(-101%);
    transition: all .3s ease;
    z-index: -1;
  }
  
.login:hover, .register:hover {
    color: #272727;
    transition: all .3s ease;
  }
  
.login:hover::before, .register:hover::before {
    transform: translateX(0);
  }
  

.gestion-title {
    color: rgb(255, 255, 255); /* Cambiar el color del título a azul */
}

.description {
    color: rgb(167, 173, 167); /* Cambiar el color del párrafo a verde */
}


  /* Estilos para secciones */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* Estilos CSS para la imagen y otros elementos */
.animated {
    animation: pulse 2s infinite;
}


/* Estilos CSS para la sección #principal con imagen de fondo */
#principal {
    background-image: url('/images/manta.jpg'); /* Reemplaza la ruta con la imagen de fondo que deseas */
    background-size: cover;
    background-position: center;
    color: #ffffff; /* Cambia el color del texto según sea necesario para que sea legible en tu imagen de fondo */
    padding: 20px;
    position: relative;
    overflow: hidden;
    min-height: 100%; /* La sección ocupará al menos toda la altura visible */
}


/* Estilos para el contenido existente */
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    flex: 1;
    padding: 20px;
}

.right {
    flex: 1;
    text-align: center;
}

.logo-img {
    max-width: 80%;
    height: auto;
    border-radius: 10px; /* Hace las esquinas redondeadas */
}

/* Estilo para el fondo y objetos */

/* Estilo para el título (h2) */
.titulo {
    color: rgb(255, 255, 255); /* Cambiar el color del título a azul */
}

/* Estilo para el párrafo (p) */
.parrafo {
    color: rgb(167, 173, 167); /* Cambiar el color del párrafo a verde */
}

/* Estilo para los elementos de la lista (li) dentro de .services */
.services .service {
    color: rgb(167, 173, 167); /* Cambiar el color del párrafo a verde */
}

.fondo-obje {
  position: relative;
  background-color: rgb(68, 68, 68);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.fondo-obje::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(51, 51, 47);
}

/* Estilo para la sección de objetivos */
#objetivos {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; /* Centra verticalmente los elementos */
}

/* Estilo para el contenido de la lista de objetivos */
.content.objetivos-list {
  flex: 1;
  padding: 20px; /* Agrega margen interno para separar el texto de otros elementos */
}

/* Estilo para el contenedor de imágenes */
.imagen-contendor {
  flex: 1;
  max-width: 35%; /* Establece el ancho máximo de la imagen */
  margin: 20px; /* Margen uniforme alrededor de la imagen */
  border-radius: 10px; /* Hace las esquinas redondeadas */
}

/* Estilo para las imágenes dentro del contenedor */
.imagen-contendor img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
  height: auto; /* Mantiene la proporción de la imagen */
}

  

.footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(63, 58, 53);
    box-shadow: 0 0 20px rgba(95, 95, 95, 0.5);
  }
  
  
  