
/* Importa la fuente Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Estilos generales */
body, html {
  font-family: 'Montserrat', sans-serif; /* Utiliza la fuente Montserrat como predeterminada */
  margin: 0; /* Elimina los márgenes predeterminados del cuerpo y la página */
  padding: 0; /* Elimina el relleno predeterminado del cuerpo y la página */
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  height: 100%; /* Establece la altura al 100% de la ventana del navegador */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido se desborda */
}

/* Estilos del encabezado */
header {
  background-color: rgb(63, 58, 53); /* Establece el color de fondo del encabezado */
  color: #fff; /* Establece el color del texto en blanco */
  display: flex; /* Utiliza un modelo de caja flexible para el encabezado */
  justify-content: space-between; /* Distribuye el contenido horizontalmente */
  align-items: center; /* Centra verticalmente el contenido */
  padding: 10px 20px; /* Agrega relleno al encabezado */
  text-align: center; /* Centra horizontalmente el contenido del encabezado */
}

/* Estilos del fondo */
.fondo {
  background-image: url('/images/manta.jpg'); /* Establece la imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* Coloca el fondo detrás de otros elementos */
}

/* Estilos del logo */
.logo {
  width: 150px; /* Ancho fijo para el contenedor del logotipo */
  height: 50px; /* Altura fija para el contenedor del logotipo */
  overflow: hidden; /* Recorta cualquier contenido que desborde el contenedor */
  display: flex; /* Utiliza un modelo de caja flexible para el logotipo */
  align-items: center; /* Centra verticalmente el logotipo */
}

.logo img {
  max-width: 32%; /* El logotipo se ajustará al ancho del contenedor */
  height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
}

.uleam-text {
  font-size: 24px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  color: rgb(255, 255, 255); /* Color del texto en blanco */
  text-transform: uppercase; /* Convierte el texto en mayúsculas */
  letter-spacing: 2px; /* Espaciado entre caracteres */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
}

.hidden {
  display: none; /* Oculta los elementos con la clase "hidden" */
}

/* Estilos para los campos de entrada (inputs) y selects */
input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 90%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  font-size: 16px;
}

/* Estilos para el campo de entrada de fecha */
.formulario-reservar input[type="date"] {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 90%;
}

/* Estilos para el campo de entrada de fecha cuando está enfocado */
.formulario-reservar input[type="date"]:focus {
  border-color: lightblue;
  background-color: #e8e8e8;
}

/* Estilos para el contenedor de reservas */
.reservas-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 800px;
  background-color: rgba(165, 165, 165, 0.7); /* Color de fondo con opacidad */
  box-shadow: 0 8px 20px rgba(70, 70, 70, 0.5); /* Sombra */
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilos para el formulario de reserva */
.reserva-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
}

/* Estilos para las columnas del formulario */
.columna-izquierda,
.columna-derecha {
  display: flex;
  flex-direction: column;
}

/* Agrega estilos adicionales según sea necesario */

/* Estilos del título de la sección de gestión */
.gestion-title {
  color: rgb(255, 255, 255); /* Cambia el color del título a blanco */
}

/* Estilos del pie de página */
.footer {
  text-align: center; /* Centra el texto en el pie de página */
  padding: 10px; /* Agrega relleno al pie de página */
  position: fixed; /* Posición fija en la parte inferior de la ventana del navegador */
  bottom: 0; /* Coloca el pie de página en la parte inferior */
  width: 100%; /* Ancho completo */
  background-color: rgb(63, 58, 53); /* Color de fondo */
  box-shadow: 0 0 20px rgba(95, 95, 95, 0.5); /* Sombra del pie de página */
}



#tipo-habitacion , #metodo-pago{
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    margin: 1rem auto;
    padding: 0.7rem 2rem;
    border-radius: 30em;
    border-style: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: transparent;
    box-shadow: 1px 1px 12px #000000;
  }
  
  .btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: translateX(-101%);
    transition: all .3s ease;
    z-index: -1;
  }
  
  .btn:hover {
    color: #272727;
    transition: all .3s ease;
  }
  
  .btn:hover::before {
    transform: translateX(0);
  }
/* Estilos para los campos de entrada (inputs) */
input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    font-size: 16px;
}
/* Estilos para el campo de entrada de fecha */
.formulario-reservar input[type="date"] {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 90%;
}

/* Estilos para el campo de entrada de fecha cuando está enfocado */
.formulario-reservar input[type="date"]:focus {
  border-color: lightblue;
  background-color: #e8e8e8;
}

/* Estilos para el contenedor */
.reservas-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 800px;
  background-color: rgba(165, 165, 165, 0.7);
  box-shadow: 0 8px 20px rgba(70, 70, 70, 0.5); /* Modificado el valor de la sombra */
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.reserva-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
}

.columna-izquierda,
.columna-derecha {
    display: flex;
    flex-direction: column;
}

/* Añade estilos adicionales según sea necesario */


.gestion-title {
    color: rgb(255, 255, 255); /* Cambiar el color del título a azul */
}
.footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(63, 58, 53);
    box-shadow: 0 0 20px rgba(95, 95, 95, 0.5);
  }
  
  